@using System.Configuration
@{
    Layout = null;
}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/">OFOS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            @if (User.IsInRole(ConfigurationManager.AppSettings.Get("RoleAdmin")))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Index">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Items
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Items/AddItem">Add Item</a>
                        <a class="dropdown-item" href="/Categories/AddCategory">Add New Category</a>
                        <a class="dropdown-item" href="/Categories/">View All Categories</a>
                        <a class="dropdown-item" href="/Items">View All Items</a>
                    </div>
                </li>
            }
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Other
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">About</a>
                    <a class="dropdown-item" href="#">Contact</a>
                </div>
            </li>
        </ul>
        <span class="navbar-text">
            @Html.Partial("_LoginPartial")
        </span>
    </div>
</nav>
