@{
    ViewBag.Title = "Contact";
}
<div class="container pt-5">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Immentia<br />
        Police Foundation<br />
        <abbr title="Phone">P:</abbr>
        03015209481
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:asadtahir.kund@gmail.com">asadtahir.kund@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:asadtahir.kund@gmail.com">asadtahir.kund@gmail.com</a>
    </address>

</div>