
@{
    ViewBag.Title = "Categories - Index";
}

<div class="container">
    <hr />
    <h3>Categories</h3>
    <table id="categories-table" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="category-row" class="d-none">
                <th id="count"></th>
                <td><a id="name" href="#"></a></td>
                <td><a class="btn btn-danger btn-sm" id="delete" href="#">delete</a></td>
            </tr>
        </tbody>
    </table>

</div>
@section scripts{
    <script src="~/Scripts/app.categories.index.js"></script>
}