
@{
    ViewBag.Title = "Users";
}

<div class="container">
    <hr />
    <h3>Users</h3>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr id="user-data-row" class="d-none">
                <th id="count" scope="row"></th>
                <td id="name"></td>
                <td id="email"></td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/app.users.index.js">
        
    </script>
}